button{
    font-size: 17px;
    padding: 5px;
    background-color: lightcyan;
    border: none;
    border-radius: 3px;
}
input{
    font-size: 17px;
    padding: 5px;
    background-color: lightcyan;
    border: none;
    border-radius: 3px;
}